* {
    margin: 0;
    padding: 0;
}

body {
    color: white;
    background-image: url(../img/code-g08a471705_1280.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

#tema {
    display: flex;
    align-items: center;
}

#titulo {
    margin-left: 10px;
    cursor: pointer;
}

#Photo {
    cursor: pointer;
    border-radius: 44%;
}

#a1 {
    text-decoration: none;
    color: white;
}

#nav {
    padding: 10px;
    align-items: center;
    position: fixed;
    top: 0;
    width: 100%;
    background-color: rgba(102, 102, 102, 0.989);
    padding: 10px;
    align-items: center;
    transition: top 0.3s;
    
}

header li {
    transition: 0.3s;
    
}

header li:hover {
    font-size: large;
    cursor: pointer;
    
}

header ul {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    list-style: none;
    color: white;
    
}

main {
    display: flex;
    gap: 30px;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.719);
}

#Seja h1 {
    text-align: center;
}

#Seja {
    padding: 100px;
    padding-top: 12%;
}

#Seja h1 {
    font-size: 50px;
}

#Início h2 {
    text-align: center;
    font-size: 50px;
    padding-top: 20%;

}

#Início h3 {
    text-align: center;
    font-size: 50px;

  }

footer {
    padding: 10px;
    color: white;
    background-color: rgba(0, 0, 0, 0.719);
}

#footer-text {
    text-align: center;
}

#social-media figure img {
    margin-bottom: 10px;

}

#foto {
    border-radius: 46%;
    display: flex;
}

.image-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
  
  .text-container {
    flex: 1;
  }

  #calc {
    padding: 1%;
  }

  h4 {
    padding-bottom: 20%;
  }

  #transform {
    display: flex;
    justify-content: space-between;
    align-items: center;

  }
  h6 {
    display: flex; 
    justify-content: space-between;
  }

  #arduino3 {
    margin-left: 20px;
    margin-bottom: 16px;

  }

  #cm {
    padding-bottom: 2%;
  }

  #rob {
    padding-top: 20%;
    padding-bottom: 2%;
  }

  #rob2 {
    padding-top: 20%;
    padding-bottom: 2%;
  }

  #atv {
    padding-top: 20%;
    padding-bottom: 2%;
  }

  #texto0 {
    text-align: center;
  }

  #texto1 {
    margin-left: 20px;
  }

  #textoDiv {
    opacity: 0;
    transition: opacity 1.5s;
  }
  #textoDiv.visible {
    opacity: 1;
  }

  #textscrum {
    background-color: rgba(102, 102, 102, 0.989);
    border-radius: 10px;
    width: 80%;
    padding: 50px;
    max-width: 1000px;
    display: flex;
    flex-direction: column;
    margin: 0 100px;
  }